@if $enable-dark-mode {
    body { 
        transition: none; 
    }
}

.navbar {
    transition: none;
}

.fullcover {
    --navbar-height: #{$navbar-height};

    min-height: calc(100vh - var(--navbar-height));
}
