@if $enable-dark-mode {

    body { 
        transition: none; 
        // background-color: #f1f1f1;
    }

    @include color-mode(light) {
        body {
            transition: none;
            background-color: #f1f1f1;
        }

        .navbar {
            border-bottom: 1px solid var(--bs-border-color);
        }

    }

    @include color-mode(dark) {
        body {
            transition: none;
            background-color: --bs-body-bg-rgb;
        }

        // .footer {
        //     border-top: 1px solid var(--bs-border-color);
        // }
    }
}

.navbar {
    transition: none;
}

.fullcover {
    --navbar-height: #{$navbar-height};
    min-height: calc(100vh - var(--navbar-height));
}